<div class="container">
  <h1 class="page-header">Reminders</h1>

<ul class="list-group">
  <% database[user].reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="label label-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="label label-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>

<ul class="list-group"
<% let user_list = Object.keys(database) %>
<% for (let i = 0; i < user_list.length; i++) { %>
<%  if (database[user].friends.includes(user_list[i])) {        %>
<% database[user_list[i]].reminders.forEach(function (reminderItem) { %>
  <h1 class="page-header"><%= user_list[i].charAt(0).toUpperCase() + user_list[i].slice(1) %>'s Reminders</h1>
  <li class="list-group-item">
    <strong><%= reminderItem.title %>: </strong>
    <%= reminderItem.description %>
    || Completed:
    <% if (reminderItem.completed == true) { %>
      <span class="label label-success">True</span>
    <% } else if (reminderItem.completed == false) { %>
      <span class="label label-danger">False</span>
    <% } %>
  </li>

<% }) %>
<%  }}  %>
</ul>

</div>
